<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @line_group_for_bot.group_id %>
</p>

<%= link_to 'Edit', edit_line_group_for_bot_path(@line_group_for_bot) %> |
<%= link_to 'Back', line_group_for_bots_path %>
