<p id="notice"><%= notice %></p>

<p>
  <strong>Detail:</strong>
  <%= @line_reply_message.detail %>
</p>

<%= link_to 'Edit', edit_line_reply_message_path(@line_reply_message) %> |
<%= link_to 'Back', line_reply_messages_path %>
